<div class="gardenHeader">
    <img src="../images/GardeningFooterSnip.jpg" alt="Garden picture" class="gardenPicture">
  </div>
<footer>
    
    <p>&copy; 2025 Community Portal</p>
  </footer>
  </body>
  </html>

  