<div class="space-barHeader">

</div>

<nav class="navbar">
    <div class="icon-div">
        <img src="../images/Icon.png" alt="Garden Logo" class="logo">
        <div class="icon-text">
            <h1>GrowTogether</h1>
            <h3>We thrive together</h3>
        </div>
    </div>
   
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/thankyou">Thank You</a></li>
    </ul>
  </nav>

  <div class="gardenHeader">
    <img src="../images/GardeningHeaderSnip.jpg" alt="Garden picture" class="gardenPicture">
  </div>