<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
   <script src="app.js"></script>
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header') %>

<main>
    <h1>Home</h1>
    <h2>Welcome to the Community Garden</h2>
    <p>Grow together, thrive together!</p>
</main>

<%- include('../partials/footer') %>
<script src="appFrontEnd.js"></script>
</body>
</html>
