<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="app.js"></script>
    <title>Thank you!</title>
  </head>
  <body>
    <%# include('./partials/header') %>
    <div class="gardenHeader">
      <img
        src="../images/GardeningHeaderSnip.jpg"
        alt="Garden picture"
        class="gardenPicture"
      />
    </div>
    <main class="text-center" style="padding: 3rem">
      <h1>🌻 Thank You!</h1>
      <p>Your message has been received. We'll get back to you soon!</p>
      <img src="/images/giphy3.gif" alt="" />
      <a href="/" class="btn btn-success mt-3">Back to Home</a>
    </main>

    <%# include('./partials/footer') %>

    <script src="appFrontEnd.js"></script>
  </body>
</html>
